{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": [
      "error",
      {
        // currently, lint rule causes a false positive for packages that use "exports" in package.json
        "ignore": ["^hpe-design-tokens/.+"]
      }
    ]
  }
}
