node_modules
yarn-error.log
coverage
dist
storybook-static
.DS_Store
.yalc
src/js/themes/themeVersion.js

!.storybook/
!.storybook/hpe-design-tokens-QA/
!.storybook/hpe-design-tokens-QA/dist/
!.storybook/hpe-design-tokens-QA/dist/**
